doctype 

html
	include ./layout.pug	
body
	#new_content
		.col-xs-8(style="padding-left:15px;margin-top:-20px;max-width:700px;")
			.h3(style="color:#ff9900;") About Us

			
			P <b><u> Nail Plant LLC </u></b> <br> Your online store for all your construction fastener needs. <br>

			P <b><u> Stability </u></b><br> Established in 1989 the Nail Plant has enjoyed over 26 years of packaging fasteners. Over the years we have grown to handle over 880 items that include nails, screws, composite fasteners, anchor bolts and a wide range of pneumatic fasteners. <br> We handle brand name products such as Maze Nails, Pneu-Fast, Buildex, FastenMaster and Grip-Fast. The Nail Plant is located in South Eastern Minnesota.

			P <b> Service </b> <br> The Nail Plant offers excellent pricing on a wide range of construction fasteners. We supply a majority of the fasteners in different size packages to help you fill your needs.

			P <b> Shipping </b><br> All orders placed Monday - Friday by 2 PM CST will ship the same day on all in stock items with a 99% fill rate. Please note weekend orders will ship on Monday.
			P Nail Plant LLC. <br> 6765 Hwy 14 East <br> Rochester, MN. 55904 <br> 507-288-6005 <br> M-F 8:00am. to 5:00pm. CST