doctype 

html
	include ./layout.pug
	
body
	#new_content
		.col-xs-8(style="padding-left:15px;margin-top:-20px;")
			.h3(style="color:#ff9900;") Site Help / FAQ
			.col-xs-6(style="font-size: 12px;")
				p.h4 Find quick answers to your questions below... <br> Order Status
				p Has my order shipped? <br> How do I change quantities or cancel an item in my order? <br> How do I track my order? <br> My order never arrived. <br> An item is missing from my shipment. <br> My product is missing parts. <br> When will my backorder arrive?<br>
				.h4 My Account 
				p How do I create an account? <br> How do I edit my account information? <br> How much is my shipping? <br> I forgot my password. <br> How do I return my product? <br> I received the wrong product. <br> What is your return policy? <br> When will my order ship? <br>
				.h4 International Shipping
				p Do you ship to my country? <br> What are my payment choices? <br> When will my order ship and what are my shipping charges? <br> What is the return policy? <br>
			.col-xs-6(style="font-size: 12px;")
				p.h4 Guarantees
				p Low Price Guarantee <br> Privacy Policy <br> Security <br>
				p.h4 Pricing and Billing
				p Do I have to pay sales tax? <br> I have a question on my charges. <br> I need a copy of my receipt/invoice. <br> When will my credit appear on my account? <br> When will my credit card be charged? <br>
				p.h4 Buyer's Guide
				p How do I buy/redeem a gift certificate? <br> How do I find my product? <br> How do I navigate the site? <br> How do I use a coupon? <br>
				p.h4 Additional Support
				p How do I contact you?