<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="../public/stylesheets/bootstrap.css">
    <link rel="stylesheet" href="../public/stylesheets/bootstrap-linkmod.css">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
    <script type="text/javascript" src="../public/stylesheets/bootstrap.js"></script>
    <script type="text/javascript" src="../public/stylesheets/bootstrap-hover-dropdown.js"></script>
  </head>
  <body>
    <div id="page_container" style="display:none">
      <div class="container" id="upper_navbar" style="width:100%;background-color:#EEEEEE;height:45px;border-top:4px solid;border-color:#ff9900;text-align:right">
        <div class="container" id="nav_links" style="max-width:850px;padding-top:10px;position:relative"><a class="black1" href="#" id="Index" style="padding-left:10px;padding-right:10px">Home</a><b>| </b><a class="black1" href="#" id="About" style="padding-left: 10px;padding-right: 10px">About</a><b>|</b><a class="black1" href="#" id="Containers" style="padding-left: 10px;padding-right: 10px">Containers</a><b>| </b><a class="black1" href="#" id="Exterior" style="padding-left: 10px;padding-right: 10px">Exterior </a><b>| </b><a class="black1" href="#" style="padding-left: 10px;padding-right: 10px">Account Home</a><b>| </b><a class="black1" href="#" style="padding-left: 10px;padding-right: 10px">View Cart</a><b>| </b><a class="black1" href="#" id="Help" style="padding-left: 10px;padding-right: 10px">Help </a></div>
      </div>
      <div class="container" id="main_content" style="max-width:850px">
        <div class="row" id="title_pic" style="height:110px;padding:10px;background-size:100%;max-width:587px;background-position:center;background-repeat: no-repeat; background-image:url('../public/media/nailTitle.png')"></div>
        <div class="navbar" id="product_navbar" style="background-color:#2d2206; text-align:center;padding:5px;width:100%">
          <div class="btn-group" id="button_fade">
            <button class="btn btn-default btn-sm" type="button" data-hover="dropdown" style="background-color: transparent;color: #FFF;border-color:transparent;padding-top:10px">ANCHOR BOLTS</button>
            <div class="dropdown-menu" style="background-color: #2d2206; color: #FFF;text-align: center"><a class="white">These Links Don't Work</a><br><a class="white">Containers</a><br><a class="white">Exterior</a></div>
          </div><b id="ylwpipe"> | </b>
          <div class="btn-group" id="button_fade">
            <button class="btn btn-default btn-sm" type="button" data-hover="dropdown" style="background-color: transparent;color: #FFF;border-color:transparent;padding-top:10px">COMPOSITE DECK / FENCE PRODUCTS</button>
            <div class="dropdown-menu" style="background-color: #2d2206; color: #FFF;text-align: center"><a class="white">These Links Don't Work</a><br><a class="white">Containers</a><br><a class="white">Exterior</a></div>
          </div><b id="ylwpipe"> | </b>
          <div class="btn-group" id="button_fade">
            <button class="btn btn-default btn-sm" type="button" data-hover="dropdown" style="background-color: transparent;color: #FFF;border-color:transparent;padding-top:10px">ROOFING TAB</button>
            <div class="dropdown-menu" style="background-color: #2d2206; color: #FFF;text-align: center"><a class="white">These Links Don't Work</a><br><a class="white">Containers</a><br><a class="white">Exterior</a></div>
          </div><b id="ylwpipe"> | </b>
          <div class="btn-group" id="button_fade">
            <button class="btn btn-default btn-sm" type="button" data-hover="dropdown" style="background-color: transparent;color: #FFF;border-color:transparent;padding-top:10px">PNEUMATIC FASTENERS</button>
            <div class="dropdown-menu" style="background-color: #2d2206; color: #FFF;text-align: center"><a class="white">These Links Don't Work</a><br><a class="white">Containers</a><br><a class="white">Exterior</a></div>
          </div><b id="ylwpipe"> | </b>
          <div class="btn-group" id="button_fade">
            <button class="btn btn-default btn-sm" type="button" data-hover="dropdown" style="background-color: transparent;color: #FFF;border-color:transparent;padding-top:10px">NAILS</button>
            <div class="dropdown-menu" style="background-color: #2d2206; color: #FFF;text-align: center"><a class="white">These Links Don't Work</a><br><a class="white">Containers</a><br><a class="white">Exterior</a></div>
          </div><b id="ylwpipe"> | </b>
          <div class="btn-group" id="button_fade">
            <button class="btn btn-default btn-sm" type="button" data-hover="dropdown" style="background-color: transparent;color: #FFF;border-color:transparent;padding-top:10px">SCREWS</button>
            <div class="dropdown-menu" style="background-color: #2d2206; color: #FFF;text-align: center"><a class="white">These Links Don't Work</a><br><a class="white">Containers</a><br><a class="white">Exterior	</a></div>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-2" style="margin-left:15px;border-width: 1px;border-color: #999;border-style:dotted;padding-bottom:5px;min-width:100px">
            <div class="h5" style="color: #ff9900"><b> COMPANY INFO</b><br>			</div><a class="black2" href="#" id="About">About Us <br></a><a class="black2" href="#">Blog <br></a><a class="black2" href="#">Returns <br></a><a class="black2" href="#">Shipping <br></a><a class="black2" href="#" id="Help">Site Help / FAQ		</a>
          </div>
          <div id="new_content">
            <div class="col-xs-8">
              <div class="h2" style="margin-top:-10px;color: #ff9900;text-align:center">Homepage</div>
            </div>
          </div>
        </div>
      </div>
      <script>
        $("document").ready(function(){
        	$("#title_pic.row").css({
        		"background-image" : "url('../public/media/nailTitle.png')",
        		"background-repeat" : "no-repeat",
        		"background-size" : "100%",
        		"background-position" : "center center"
        	});
        	$("b").css({
        		"color":"#F90"
        	});
        	$(".btn-sm").css({
        		"padding" : "5px",
        		"color" : "#FF9900"
        	});	
        	$("#page_container").fadeIn(1500, "linear");
        	$("a.black1").click(function(){
        		$("a.black1").hide(500,function(){
        			$("a.black1").show(500);
        		});
        	});
        	$("#About1, #About2").click(function(){
        		$("#new_content").hide("500",function(){
        			$("#new_content").load("About.html #new_content",function(){
        				$("#new_content").show("500");
        			});
        		});
        	});
        	$("#Index").click(function(){
        		$("#new_content").hide("500",function(){
        			$("#new_content").load("Index.html #new_content",function(){
        				$("#new_content").show("500");
        			});
        		});
        	});
        	$("#Help").click(function(){
        		$("#new_content").hide("500",function(){
        			$("#new_content").load("Help.html #new_content",function(){
        				$("#new_content").show("500");
        			});
        		});
        	});
        	$("#Containers").click(function(){
        		$("#new_content").hide("500",function(){
        			$("#new_content").load("Containers.html #new_content",function(){
        				$("#new_content").show("500");
        			});
        		});
        	});
        	$("#Exterior").click(function(){
        		$("#new_content").hide("500",function(){
        			$("#new_content").load("Exterior.html #new_content",function(){
        				$("#new_content").show("500");
        			});
        		});
        	});					
        });
      </script>
    </div>
  </body>
</html>