head
	title= title
	link(rel="stylesheet" href="/public/stylesheets/bootstrap.css")
	link(rel="stylesheet" href="/public/stylesheets/bootstrap-linkmod.css")
	script(type="text/javascript" src="/public/stylesheets/jquery.js")
	script(type="text/javascript" src="/public/stylesheets/bootstrap.js")
	script(type="text/javascript" src="/public/stylesheets/bootstrap-hover-dropdown.js")